@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-12">
    <h1>Welcome to the MedData</h1>
    <a asp-controller="App" asp-action="Patients" class="btn btn-lg btn-success">View Patients</a>
</div>